@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@300..800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
    background-color: #1A1A1A;
}

header{
    width: 1440px;
    height: 427px;
    background-color: #2A2A2A;
    margin: 0 auto;
}

h1{
    font-size: 250px;
    text-align: center;
    margin: 50px 0;
}

span{
    color: skyblue;
}

.controls{
    width: 100%;
    margin: 60px auto;
    padding: 0 72px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.controls input, .controls select{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #fff;
    padding-left: 20px;
}

.btn{
    width: 101px;
    border-radius: 5px;
    background-color: #D9534F;
    border: none;
    color: white;
    height: 40px;
}

.kartochki{
    width: 1440px;
    margin: 0 auto;
    padding: 0 72px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.card{
    width: 244px;
    height: 368px;
    border-radius: 10px;
    background-color: #333333;
    box-shadow: 0px 0px 15px 0px #00000080;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    color: white;
    text-align: center;
}

.card h3{
    font-weight: 400;
    font-size: 16px;
}

.card h2{
    font-weight: 700;
    font-style: 18px;
}

.info{
    width: 75px;
    height: 35px;
    background-color: #5CB85C;
    color: white;
    border: none;
    border-radius: 5px;
}